html,body{
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    overflow:hidden;
    border-bottom: 5px solid #16BFFD;
    display:block;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
   
}

.container {
    width: 100%;

}

/*work header distribution*/

header {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

form {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 0;
}

select {
    width: 15.625em;
    height: 42px;  
    border-radius: 5px;
}

button {
    width: 120px;
    height: 42px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

input {
    width:15vh;
    height: 42px;
    box-sizing: border-box;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}


.colorsContainer {
    display: flex;
    min-height: 100vh;
    background: #16BFFD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.colorsContainer h1 {
    margin: auto;
}

.colorHax h1 {
    margin: auto;
    color: black;
}

.colorHax {
    display: flex;
   flex-direction: column;
   justify-content: space-around;
    writing-mode: vertical-rl; 
    text-orientation: upright;
 
}

.color-hover{
   writing-mode: vertical-rl; 
   text-orientation: upright;
   height: 100%;
   color: rgba(0,0,0,0);
   text-align: center;
}

#color-palette{
    display: flex;
    justify-content: center;
}

.color-hover:hover {
    color: white;
   
    color: white; text-shadow: 1px 1px 1px black;
}

.remove--bottom--hex {
    color: rgba(0,0,0,0);
}


.colorSize {
    width: 50vw;
}


h4 {
    background: white;
    min-height: 35vw;
}

.seedcolor-container {
    display: flex;
    align-items: center;
}


@media only screen and (max-width:850px){
    /* styles for devices with a maximum width of 768px */

  
    input {
        width:7vh;
        height: 22px;
        box-sizing: border-box;
    }

    select {
        width:10vh;
        height: 42px;
        box-sizing: border-box;
    }

    form {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1em 0.5em;
        margin: 0;
    }

    
button {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.seedcolor-container {
    display: flex;
    flex-direction: column;
}

.numbercolor-container{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 1em;
}

label {
    font-size: 0.8em;
}

    
}

